<ul class="post-list">
  {% for post in postslist | reverse %}
    <li class="post-list__item">
      <a class="post-list__link" href="{{ post.url }}">

        <img  class="post-list__img" webc:is="eleventy-image" :width="[500]" src="/images{{post.data.preview}}" alt="photo of my tabby cat">

        <ul class="post-list__tags">
          {% for tag in post.data.tags | pageTags %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>

        <h3 class="post-list__title">{{ post.data.title }}</h3>

        <p class="post-list__excerpt">{{ post.data.description | safe  }}</p>

        <div class="post-list__meta">
          <time datetime="{{ post.date | htmlDateString }}">
            {{ post.date | readableDate }}
          </time>
        </div>

      </a>
    </li>
  {% endfor %}
</ul>