<ul class="tags-list">
  {% for tag in tagslist %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}

    <li class="tags__item">
      <a href="{{ tagUrl | url }}" class="tags__link">#{{ tag }}</a>
    </li>

  {% endfor %}
</ul>