---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set postslist = collections.project %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/archive/' | url }}">the archive</a>.</p>