---
import PostsList from "../../components/PostsList.astro";
import TagsList from "../../components/TagsList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");

const tags = [...new Set(posts.flatMap((post) => post.data.tags))];
---

<BaseLayout pageTitle="All the tags">
  <section>
    <h2>All tags</h2>
    <TagsList tags={tags} />
  </section>
</BaseLayout>
