---
import TagsList from "../../components/TagsList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
// Tags appear in the order of their first (oldest) tagged post; the loader
// doesn't guarantee entry order, so sort explicitly.
posts.sort((a, b) => +a.data.date - +b.data.date);

const tags = [...new Set(posts.flatMap((post) => post.data.tags))];
---

<BaseLayout pageTitle="All the tags">
  <section>
    <h1>All tags</h1>
    <TagsList tags={tags} />
  </section>
</BaseLayout>
