---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArchiveList from "../components/ArchiveList.astro";
const allPosts = await getCollection("archive");
allPosts.sort((a, b) => +b.data.date - +a.data.date);
---

<BaseLayout>
  <section>
    <h2>The archive</h2>
    <ArchiveList posts={allPosts} />
  </section>
</BaseLayout>

<style>
  h2 {
    font-size: var(--step-3);
    font-weight: 400;
    margin-bottom: var(--space-s);
    margin-top: var(--space-l);
  }
</style>
