---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArchiveList from "../components/ArchiveList.astro";
const allPosts = await getCollection("archive");
allPosts.sort((a, b) => +b.data.date - +a.data.date);
---

<BaseLayout pageTitle="The archive">
  <section class="page">
    <h1>The archive</h1>
    <ArchiveList posts={allPosts} />
  </section>
</BaseLayout>
