---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import TagsList from "../components/TagsList.astro";
import ArchiveList from "../components/ArchiveList.astro";
const allPosts = await getCollection("posts");
allPosts.reverse();

const allTags = [...new Set(allPosts.flatMap((post) => post.data.tags))];
---

<BaseLayout pageTitle="All blogposts">
  <section class="page">
    <h1>All blogposts</h1>
    <TagsList tags={allTags} />
    <ArchiveList posts={allPosts} />
  </section>
</BaseLayout>
