<footer class="footer">
  <div class="footer__content">
    <p>DoneBySimon &copy; 2024</p>
    <ul class="footer__links">
      <li>
        <a
          href="https://www.instagram.com/donebysimon/"
          target="_blank"
          rel="noopener noreferrer">Instagram</a
        >
      </li>
      <li>
        <a
          href="https://github.com/simonvanherweghe"
          target="_blank"
          rel="noopener noreferrer">GitHub</a
        >
      </li>
      <li>
        <a
          href="https://twitter.com/donebysimon"
          target="_blank"
          rel="noopener noreferrer">X</a
        >
      </li>
      <li>
        <a href="feed.xml">RSS</a>
      </li>

      <li>
        <a href="/archive">The Archive</a>
      </li>
    </ul>
  </div>
</footer>
