---
const { tags } = Astro.props;
---

<ul>
  {tags.map((tag) => <li>#{tag}</li>)}
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
    font-size: var(--step--1);
    color: var(--color-grey);

    margin-bottom: var(--space-xs);

    grid-area: tags;
  }
</style>
