.footer {
  background-color: var(--color-text);
  padding: var(--space-l) var(--space-xs);

  color: var(--color-bg);

  
}

.footer__content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--space-l);
}

.footer a:any-link{
  color: inherit;
}

.footer__links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer__links li:has(+ li)::after {
  content: "\2022";
  display: inline-block;
  width: 2ch;
  text-align: center;
}