.header {
  border-bottom: var(--border);
  padding-bottom: var(--space-s);
  margin-bottom: var(--space-m);
}



.header a:any-link {
  text-decoration: none;
  color: var(--color-text);
}

.header a:hover {
  text-decoration: underline;
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  padding: var(--space-xs);
  margin: 0 auto;
  max-width: var(--max-width);
}


.site-title {
  font-size: var(--step-2);
  font-weight: 400;
  text-transform: uppercase;
  margin: var(--space-m) 0;
}

.nav__list {
  display: flex;
  gap: var(--space-s);
}

