.post-list__item {
  margin-bottom: var(--space-2xl);
}

.post-list__link {
  text-decoration: none;
  color: inherit;
}

.post-list__tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  font-size: var(--step--1);
  color: var(--color-grey);

  margin-bottom: var(--space-xs);
}

.post-list__item picture{
  margin-bottom: var(--space-xs);
}

.post-list__img {
  aspect-ratio: 16/8;
  object-fit: cover;
}

.post-list__title {
  font-size: var(--step-2);
  font-weight: 400;
  margin-bottom: var(--space-xs);
}

.post-list__excerpt {
  margin-bottom: var(--space-s);
}

.post-list__meta {
  color: var(--color-grey);
  font-size: var(--step--1);
}