@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  line-height: 1.4;
  color: var(--color-text);
  font-size: var(--step-0);
}

h2 {
  font-size: var(--step-3);
  font-weight: 400;
  margin-bottom: var(--space-s);
  margin-top: var(--space-l);
}