---
layout: base
eleventyImport:
  collections: ["archive"]
---

<section class="post-list__wrapper">
  <h2 class="post-list__heading">Archive</h2>

  {% set archiveList = collections.archive %}
  {% include "archive-list.njk" %}
</section>