---
layout: base
eleventyImport:
  collections: ["post"]
---

<section class="post-list__wrapper">
  <h2 class="post-list__heading">All posts</h2>

  {% set tagslist = collections.tagList | pageTags %}
  {% include "tags-list.njk" %}

  {% set archiveList = collections.post %}
  {% include "archive-list.njk" %}
</section>