---
import { getCollection } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import PostsList from "../components/PostsList.astro";
const allPosts = await getCollection("posts");
allPosts.reverse();
---

<BaseLayout>
  <header>
    <slot />
  </header>

  <section class="home">
    <h2 class="visually-hidden">Recent stuff</h2>
    <PostsList posts={allPosts} />
  </section>
</BaseLayout>

<style>
  header {
    margin-bottom: var(--space-xl);
    font-size: var(--step-2);
    font-weight: 400;
  }
</style>
