---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout>
  <div class="page markdown">
    <h2>{frontmatter.title}</h2>
    <slot />
  </div>
</BaseLayout>
