---
layout: base.njk
---

<article class="post">
  <header class="post__header">

    {% set tagslist = tags | pageTags %}
    {% include "tags-list.njk" %}

    <h1 class="post__title">{{ title }}</h1>
    <p class="post__desc">{{ description }}</p>
    <div class="post__details">
      <time datetime="{{ page.date | htmlDateString }}">
        {{ page.date | readableDate }}
      </time>
    </div>
  </header>

  {% renderTemplate "webc", {
    preview: preview,
    alt: alt,
    title: title
  } %}
  <img  class="post__img" webc:is="eleventy-image" :width="[ 500, 750, 1000, 1500 ]" sizes="100vw" :src="{{ './src' + preview}}" :alt="{{ (alt || title)}}">
  {% endrenderTemplate %}

  <div class="post__content markdown">
    {{ content | safe }}
  </div>

  <aside class="post__aside">

    <nav class="post__pagination">
      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
      {%- if nextPost %}

        <a href="{{ nextPost.url | url }}">
          <span>←</span>
          <span>{{ nextPost.data.title }}</span>
        </a>

      {% endif %}

      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {%- if previousPost %}

        <a href="{{ previousPost.url | url }}">
          <span>{{ previousPost.data.title }}</span>
          <span>→</span>
        </a>

      {% endif %}
    </nav>
  </aside>

</article>